extends layout.pug

block head
    title= "KeContact"

block nav
  .d-flex.flex-row.mt-2.mt-sm-0
    form.mr-0.mr-sm-2.w-100(onsubmit='return false')
        .input-group
          .input-group-prepend
            span.input-group-text &euro;/kWh
          input#priceIn.form-control(type='number', step='0.01', aria-label='Amount (to the nearest dollar)' value=price)
          .input-group-append
            input#setPrice.btn.btn-primary(type='submit', value='Set')

block content
  h2 Total

  - var totalSec=moment.duration()
  - var totalKwh=0

  each item in history
    if item && item['Session ID']>0 && item.ID>100
      - var kwh=item['E pres']/10000;
      - var duration = moment.duration(item['ended[s]']-item['started[s]'],'seconds')
      - totalSec.add(duration)
      - totalKwh+=kwh


  .card-deck.mb-3
    .card.shadow-sm
      .card-body
        h5.card-title Charging Time
        h3.text-center.card-text=moment(totalSec.asMilliseconds()).format('D[d] hh:mm:ss')
    .card.shadow-sm
      .card-body
        h5.card-title Energy
        h3.text-center.card-text=totalKwh.toFixed(2)+' kWh'
    .card.shadow-sm
      .card-body
        h5.card-title Cost
        h3.text-center.card-text=(price*totalKwh).toFixed(2)+' €'

  h2 History
  .table-responsive-sm
    table.table.table-striped
      thead
        tr
          th(scope="col") #
          th(scope="col") Start
          th(scope="col") Stop
          th(scope="col") Energy
          th(scope="col") Cost
          th(scope="col") ~Speed
          th(scope="col") Info
      tbody


        each item in history
          if item && item['Session ID']>0 && item.ID>100
            - var kwh=item['E pres']/10000;
            - var duration = moment.duration(item['ended[s]']-item['started[s]'],'seconds')

            tr
              th(scope="row")=item['Session ID']
              td=moment(item['started'],'YYYY/MM/DD HH:mm:ss.SSS').format('DD/MM/YY HH:mm')
                //moment(duration.asMilliseconds()).format('hh:mm:ss')
              td=moment(item['ended'],'YYYY/MM/DD HH:mm:ss.SSS').format('DD/MM/YY HH:mm')
              td=kwh.toFixed(2)+" kWh"
              //- TODO: Add per-session price
              td="€ "+(price*kwh).toFixed(2)
              td=(kwh / duration.asHours()).toFixed(2) + " kW"
              td
                a(href='#' data-toggle='modal' data-target='#historyDetails' data-id=item['Session ID'])
                  i.fas.fa-info-circle

block footer
  script.
    $("#setPrice").click(() => {
      console.log("Setting new price...")
      $.post("/api/price", { price: $("#priceIn").val() }, (data) => {
        console.log("Success!")
        $("#priceIn").val(parseFloat(data));
      });
    });
  include includes/historyDetails.pug

