extends layout.pug

block head
  title= "KeContact"

block nav
  .d-flex.flex-row.mt-2.mt-sm-0
    form.mr-0.mr-sm-2.w-100(onsubmit='return false')
        .input-group
          .input-group-prepend
            span.input-group-text &euro;/kWh
          input#priceIn.form-control(type='number', step='0.01', aria-label='Amount (to the nearest dollar)' value=price)
          .input-group-append
            input#setPrice.btn.btn-primary(type='submit', value='Set')

block content
  //h2 Total

  - var totalSec=moment.duration()
  - var totalKwh=0

  each item in history
    if item && item['Session ID']>0 && item.ID>100
      - var kwh=item['E pres']/10000;
      - var duration = moment.duration(item['ended[s]']-item['started[s]'],'seconds')
      - totalSec.add(duration)
      - totalKwh+=kwh


  //.card-deck.mb-3
    .card.shadow-sm
      .card-body
        h5.card-title Charging Time
        h3.text-center.card-text=moment(totalSec.asMilliseconds()).format('D[d] hh:mm:ss')
    .card.shadow-sm
      .card-body
        h5.card-title Energy
        h3.text-center.card-text=totalKwh.toFixed(2)+' kWh'
    .card.shadow-sm
      .card-body
        h5.card-title Cost
        h3.text-center.card-text=(price*totalKwh).toFixed(2)+' €'

  h2 History
  .table-responsive-sm
    table.table.table-striped
      thead
        tr
          th(scope="col") #
          th(scope="col") Start
          th(scope="col") Stop
          th(scope="col") Energy
          th(scope="col") Cost
          th(scope="col") ~Speed
          th(scope="col") Profile
          th(scope="col") Print
      tbody


        each item in history
          if item && item['Session ID']>0 && item.ID>100
            - var kwh=item['E pres']/10000;
            - var duration = moment.duration(item['ended[s]']-item['started[s]'],'seconds')
            - var profile=box.profiles[box.profiles.findIndex(i=>i.auth==item['RFID tag'])]

            tr
              th(scope="row")=item['Session ID']
              td=moment(item['started'],'YYYY/MM/DD HH:mm:ss.SSS').format('DD/MM/YY HH:mm')
                //moment(duration.asMilliseconds()).format('hh:mm:ss')
              td=moment(item['ended'],'YYYY/MM/DD HH:mm:ss.SSS').format('DD/MM/YY HH:mm')
              td=kwh.toFixed(2)+" kWh"
              //- TODO: Add per-session price
              td="€ "+(price*kwh).toFixed(2)
              td=(kwh / duration.asHours()).toFixed(2) + " kW"
              td
                a(href='#' data-toggle="tooltip" title=profile.auth)=profile.name
              td
                a(href='#' onclick='print('+item['Session ID']+')')
                  i.fas.fa-print

block footer
  script(src='/jQuery.print.js')

  #printable(style='margin: 0 150px;').d-none.d-print-block
    .row
      .col
        h3 Charge #
          span#printId 38
      .col
        h4.text-right
          span#printProfile Card 1
          |  (
          span#printAuth 0000000000000
          | )
    .row.my-3
      .col-3 Start
        br
        span#printStart 24/03 15:03
      .col-3 Stop
        br
        span#printStop 24/03 18:42
      .col.text-right Duration
        br
        span#printDuration 3:39 h
    .row.my-3
      .col Total energy
        br
        span#printEnergy 15.00 
        |  kWh
      .col.text-right Energy price
        br
        span#printEnergyCost 0.30
        |  €/kWh
    .row
      .col
        h2 Total Amount: € 
          span#printCost 4.50

  script.
    $("#setPrice").click(() => {
      console.log("Setting new price...")
      $.post("/api/price", { price: $("#priceIn").val() }, (data) => {
        console.log("Success!")
        $("#priceIn").val(parseFloat(data));
      });
    });

    var print=function(id)
    {
      var history=!{JSON.stringify(history)}

      var entry;
      history.forEach((item,index) => {
        if(item!=null){
          if (item['Session ID']==id)
            entry=history[index];
        }
      });

      let box=!{JSON.stringify(box)}
      let price=!{price};
      let kwh=entry['E pres']/10000;
      let cost=(price*kwh).toFixed(2);

      let start=moment(entry['started'],'YYYY/MM/DD HH:mm:ss.SSS');
      let stop=moment(entry['ended'],'YYYY/MM/DD HH:mm:ss.SSS');
      let duration=moment.duration(entry['ended[s]']-entry['started[s]'],'seconds');

      $('#printId').text(id);
      $('#printProfile').text(box.profiles[box.profiles.findIndex(i=>i.auth==entry['RFID tag'])].name)
      $('#printAuth').text(entry['RFID tag']);
      $('#printStart').text(start.format('DD/MM/YYYY HH:mm'));
      $('#printStop').text(stop.format('DD/MM/YYYY HH:mm'));
      $('#printDuration').text(String(Math.round(duration.asHours())).padStart(2,'0')+' h '+String(duration.minutes()).padStart(2,'0')+' m');
      $('#printEnergy').text(kwh.toFixed(2));
      $('#printEnergyCost').text(price.toFixed(2));
      $('#printCost').text(cost);

      $('#printable').print();
    }

  include includes/historyDetails.pug

