extends layout.pug

block head
  title= "KeContact"

block nav
  .ml-auto
    include includes/priceInput.pug
  .ml-md-2
    include includes/profileSelection.pug

block content
  h2 History
  .table-responsive-sm
    table.table.table-striped
      thead
        tr
          th(scope="col") #
          th(scope="col") Start
          th(scope="col") Stop
          th(scope="col") Energy
          th(scope="col") Cost
          th(scope="col") ~Speed
          th(scope="col") Profile
          th(scope="col") Print
      tbody


        each item in history
          if item && item['Session ID']>0 && item.ID>100
            - var kwh=item['E pres']/10000;
            - var duration = moment.duration(item['ended[s]']-item['started[s]'],'seconds')

            - var profileIndex = box.profiles.findIndex(i=>i.auth==item['RFID tag'])
            if profileIndex!=-1
              - var profile=box.profiles[profileIndex];

            tr
              th(scope="row")=item['Session ID']
              td=moment(item['started'],'YYYY/MM/DD HH:mm:ss.SSS').format('DD/MM/YY HH:mm')
                //moment(duration.asMilliseconds()).format('hh:mm:ss')
              td=moment(item['ended'],'YYYY/MM/DD HH:mm:ss.SSS').format('DD/MM/YY HH:mm')
              td=kwh.toFixed(2)+" kWh"
              //- TODO: Add per-session price
              td="€ "+(price*kwh).toFixed(2)
              td=(kwh / duration.asHours()).toFixed(2) + " kW"
              td
                if profileIndex!=-1
                  a(href='#' data-toggle="tooltip" data-html="true" title="<span class='text-monospace'>"+box.profiles[profileIndex].auth+"</span>")=box.profiles[profileIndex].name
                else
                  span.text-monospace=item['RFID tag']
              td
                a(href='#' onclick='print('+item['Session ID']+')')
                  i.fas.fa-print

block footer
  script(src='/jQuery.print.js')

  #printable(style='margin: 0 150px;').d-none.d-print-block
    .row
      .col
        h3 Charge #
          span#printId 38
      .col
        h4.text-right
          span#printProfile
          |  (
          span#printAuth 0000000000000
          | )
    .row.my-3
      .col-3 Start
        br
        span#printStart 24/03 15:03
      .col-3 Stop
        br
        span#printStop 24/03 18:42
      .col.text-right Duration
        br
        span#printDuration 3:39 h
    .row.my-3
      .col Total energy
        br
        span#printEnergy 15.00 
        |  kWh
      .col.text-right Energy price
        br
        span#printEnergyCost 0.30
        |  €/kWh
    .row
      .col
        h2 Total Amount: € 
          span#printCost 4.50

  script.

    var print=function(id)
    {
      var history=!{JSON.stringify(history)}

      var entry;
      history.forEach((item,index) => {
        if(item!=null){
          if (item['Session ID']==id)
            entry=history[index];
        }
      });

      let box=!{JSON.stringify(box)}
      let price=!{price};
      let kwh=entry['E pres']/10000;
      let cost=(price*kwh).toFixed(2);

      let start=moment(entry['started'],'YYYY/MM/DD HH:mm:ss.SSS');
      let stop=moment(entry['ended'],'YYYY/MM/DD HH:mm:ss.SSS');
      let duration=moment.duration(entry['ended[s]']-entry['started[s]'],'seconds');
      let auth=entry['RFID tag'];

      let prof=box.profiles.findIndex(i=>i.auth==auth)
      $('#printId').text(id);
      if(prof!=-1){
        $('#printProfile').text(box.profiles[prof].name)
      }
      $('#printAuth').text(entry['RFID tag']);
      $('#printStart').text(start.format('DD/MM/YYYY HH:mm'));
      $('#printStop').text(stop.format('DD/MM/YYYY HH:mm'));
      $('#printDuration').text(String(Math.round(duration.asHours())).padStart(2,'0')+' h '+String(duration.minutes()).padStart(2,'0')+' m');
      $('#printEnergy').text(kwh.toFixed(2));
      $('#printEnergyCost').text(price.toFixed(2));
      $('#printCost').text(cost);

      $('#printable').print({iframe: false});
    }

