extends layout.pug

block head
  title= "KeContact"

block content
  h2 #{__("history.title")}
  .table-responsive-sm
    table.table.table-striped
      thead
        tr
          th(scope="col") #
          th(scope="col") #{__("history.table.start")}
          th(scope="col") #{__("history.table.stop")}
          th(scope="col") #{__("history.table.energy")}
          th(scope="col") #{__("history.table.cost")}
          th(scope="col") #{__("history.table.avgspeed")}
          th(scope="col") #{__("history.table.profile")}
          th(scope="col") #{__("history.table.print")}
      tbody


        each item in history
          if item && item['Session ID']>0 && item.ID>100
            - var kwh=item['E pres']/10000;
            - var duration = moment.duration(item['ended[s]']-item['started[s]'],'seconds')

            - var profileIndex = profiles.findIndex(i=>i.auth==item['RFID tag'])
            - var price = 0
            if profileIndex!=-1
              - var profile=profiles[profileIndex];
              - price = profile.price

            tr
              th(scope="row")=item['Session ID']
              td=moment(item['started'],'YYYY/MM/DD HH:mm:ss.SSS').add(2, 'hours').format('DD/MM/YY HH:mm')
                //moment(duration.asMilliseconds()).format('hh:mm:ss')
              td=moment(item['ended'],'YYYY/MM/DD HH:mm:ss.SSS').add(2, 'hours').format('DD/MM/YY HH:mm')
              td=kwh.toFixed(2)+" kWh"
              td="€ "+(price*kwh).toFixed(2)
              td=(kwh / duration.asHours()).toFixed(2) + " kW"
              td
                if profileIndex!=-1
                  a(href='#' data-toggle="tooltip" data-html="true" title=profiles[profileIndex].price+' €/kWh')=profiles[profileIndex].name
                else
                  span.text-monospace=item['RFID tag']
              td
                a(href='#' onclick='print('+item['Session ID']+')')
                  i.fas.fa-print

block footer
  script(src='/jQuery.print.js')

  #printable(style='margin: 0 150px;').d-none.d-print-block
    .row
      .col
        h3 #{__("history.print.charge")} #
          span#printId --
      .col
        h4.text-right
          span#printProfile
          |  (
          span#printAuth 0000000000000
          | )
    .row.my-3
      .col-3 #{__("history.print.start")}
        br
        span#printStart --/-- --:--
      .col-3 #{__("history.print.stop")}
        br
        span#printStop --/-- --:--
      .col.text-right #{__("history.print.duration")}
        br
        span#printDuration --:-- h
    .row.my-3
      .col #{__("history.print.totalenergy")}
        br
        span#printEnergy --.-- 
        |  kWh
      .col.text-right #{__("history.print.energyprice")}
        br
        span#printEnergyCost -.--
        |  €/kWh
    .row
      .col
        h2 #{__("history.print.totalamount")}: €
          span#printCost --.--

  script.

    var print=function(id)
    {
      var history=!{JSON.stringify(history)}

      var entry;
      history.forEach((item,index) => {
        if(item!=null){
          if (item['Session ID']==id)
            entry=history[index];
        }
      });

      let box=!{JSON.stringify(box)}
      
      let kwh=entry['E pres']/10000;

      let start=moment(entry['started'],'YYYY/MM/DD HH:mm:ss.SSS').add(2, 'hours');
      let stop=moment(entry['ended'],'YYYY/MM/DD HH:mm:ss.SSS').add(2, 'hours');
      let duration=moment.duration(entry['ended[s]']-entry['started[s]'],'seconds');
      let auth=entry['RFID tag'];

      let profiles=!{JSON.stringify(profiles)}
      let prof=profiles.findIndex(i=>i.auth==auth)

      let price = 0;
      if(prof >= 0){
        price = profiles[prof].price;
      }

      let cost=(price*kwh).toFixed(2);

      $('#printId').text(id);
      if(prof!=-1){
        $('#printProfile').text(profiles[prof].name)
      }
      $('#printAuth').text(entry['RFID tag']);
      $('#printStart').text(start.format('DD/MM/YYYY HH:mm'));
      $('#printStop').text(stop.format('DD/MM/YYYY HH:mm'));
      $('#printDuration').text(String(Math.round(duration.asHours())).padStart(2,'0')+' h '+String(duration.minutes()).padStart(2,'0')+' m');
      $('#printEnergy').text(kwh.toFixed(2));
      $('#printEnergyCost').text(parseFloat(price).toFixed(2));
      $('#printCost').text(cost);

      $('#printable').print({iframe: false});
    }

