doctype html
html
  head
    link(rel="stylesheet" href="/meter.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    title= "KeContact"
  body.container
    h1|Charging history
    table.table.table-striped
      thead
        tr
          th(scope="col")|#
          th(scope="col")|Duration
          th(scope="col")|Energy
          th(scope="col")|Cost
          th(scope="col")|Auth
      tbody
        - var totalSec=0
        - var totalKwh=0

        each item in history
          if item && item['Session ID']>0
            - var kwh=item['E pres']/10000;
            - var duration=item['ended[s]']-item['started[s]']
            - totalSec+=duration
            - totalKwh+=kwh

            tr
              th(scope="row")=item['Session ID']
              td=duration +"s"
              td=kwh.toFixed(2)+" kWh"
              //- TODO: Add per-session price
              td="€ "+(price*kwh).toFixed(2)
              td=item['RFID tag']

        tr.table-info(scope="row")
          th|Total
          th=totalSec +"s"
          th=totalKwh.toFixed(2)+" kWh"
          th="€ "+(price*totalKwh).toFixed(2)
      
                

