extends layout.pug

block head
  title= "KeContact"

block nav
  .d-flex.flex-row.mt-2.mt-sm-0
    form.mr-0.mr-sm-2.w-100(onsubmit='return false')
      .input-group
        .input-group-prepend
          span.input-group-text &euro;/kWh
        input#priceIn.form-control(type='number', step='0.01', aria-label='Amount (to the nearest dollar)' value=price)
        .input-group-append
          input#setPrice.btn.btn-primary(type='submit', value='Set')
    button.btn.btn-primary.d-none.d-sm-block(data-toggle='modal', data-target='#addWallbox') New

block content
  .row
    each box in boxes
      .col.col-sm-6.col-md-4.col-lg-3
        .card.mx-3.mx-sm-0
          .card-body.pb-1
            h5.card-title=box.name
              small
                a.text-muted.mx-1(href="#" data-toggle="modal" data-target="#editModal" data-serial=box.serial)
                  i.fas.fa-pencil-alt
              span.badge.badge-primary.float-right=box.product.split('-')[1]
          a(href='/'+box.serial+'/meter')
            img.card-img-top(src='/p20.png')

          .card-body.pt-2
            .card-text
              small.text-muted S/N: #{box.serial}
              span.float-right
                a.card-link(href='/'+box.serial+'/meter' data-toggle="tooltip" data-placement="bottom" title="Meter")
                  i.fas.fa-tachometer-alt
                a.card-link(href='/'+box.serial+'/history' data-toggle="tooltip" data-placement="bottom" title="History")
                  i.fas.fa-history

block footer
  include includes/commons.pug
  include includes/addWallboxModal.pug
  include includes/editWallbox.pug

  script.
    $("#setPrice").click(() => {
      console.log("Setting new price...")
      $.post("/api/price", { price: $("#priceIn").val() }, (data) => {
        console.log("Success!")
        $("#priceIn").val(parseFloat(data));
      });
    });
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
