extends layout.pug

block head
  title= "KeContact"

block nav
  div.d-flex.flex-row
    form.mx-2(onsubmit="return false")
      div.input-group
        div.input-group-prepend
          span.input-group-text|€/kWh
        input#priceIn.form-control(type="number" step="0.01" aria-label="Amount (to the nearest dollar)" value=price)
        div.input-group-append
          input#setPrice.btn.btn-primary(type="submit" value="Set")
      
    button.btn.btn-primary(data-toggle="modal" data-target="#addWallbox")|New Wallbox

block content
  div.card-deck.mt-3
    each box in boxes
        div.card(style='max-width:30%')
          img.card-img-top(src='/p20.png')
          div.card-body
            h5.card-title=box.name+' '
              span.badge.badge-primary.float-right=box.product.split('-')[1]
            div.card-text|Address #{box.address}
            div.card-text
              a(href='/'+box.serial+'/meter')|Meter
              a(href='/'+box.serial+'/history')|History

            div.card-text
              small.text-muted|Serial No. #{box.serial}<br/>
    
block footer
  include includes/addWallboxModal.pug 
  script.
      $("#setPrice").click(() => {
        $.post("/price", { price: $("#priceIn").val() }, (data) => {
          $("#priceIn").val(parseFloat(data));
        });
      });
