extends layout.pug

block head
  title= "KeContact"

block content
  div.card-deck.mt-3
    div.card(style='max-width:30%')
      img.card-img-top(src='/p20.png')
      div.card-body
        h5.card-title|KeContact #{data.Firmware.split(' ')[0]}
        div.card-text
          |Serial #: #{data.Serial}<br/>
          |Uptime: #{(data.Sec/60/60/24).toFixed(0)}d<br/>
          div.card-text
            small.text-muted|Firmware Version: #{data.Firmware}<br/>
    