extends layout.pug

block head
  title="Charger Info"

  - var kw=(Math.abs(parseInt(data['P'])/1000000)).toFixed(2)
  - var kwh=(Math.abs(parseInt(data['E total'])/10000)).toFixed(2)
  - var model=box.product.split('-')[1]

block content
  .row.mb-3
    .col-12.col-md-4.col-lg-3
      img(src='/'+model.toLowerCase()+'.png').img-fluid
    .col-12.col-sm-8.col-lg-9.row
      div.my-auto.mx-3
        .mb-2
          .text-muted Product
          | #{data.Product}
        .mb-2
          .text-muted Firmware
          | #{data.Firmware}
        .mb-2
          .text-muted Serial No.
          | #{data.Serial}
        div
          .text-muted Time

          if data.timeQ==0
            h5
              span.badge.badge-danger Not Synced
          else
            - var timeTip=''
            - var timeClass=''
            case data.timeQ
              when 2
                - timeTip='Manually set by JuiceUp'
                - timeClass='badge-warning'
              when 'X'
                - timeTip='Time synced to a NTP server'
                - timeClass='badge-success'
            h5
              span.badge(class=timeClass data-toggle="tooltip" title=timeTip) Synced

  .card-deck
    .card.shadow-sm
      .card-body
        h5.card-title Meter
        p.card-text Current Power: #{kw} kW
        a.btn.btn-primary(href='meter') Meter

    .card.shadow-sm
      .card-body
        h5.card-title History
        p.card-text Total Energy: #{kwh} kWh
        a.btn.btn-primary(href='history') History
