extends layout.pug

block head
  title="Charger Info"

  - var kw=(Math.abs(parseInt(data['P'])/1000000)).toFixed(2)
  - var kwh=(Math.abs(parseInt(data['E total'])/10000)).toFixed(2)
  - var model=box.product.split('-')[1]

block nav
  .ml-auto
    include includes/priceInput.pug
  .mx-md-2
    include includes/profileSelection.pug

block content
  .row.mb-3
    .col-12.col-md-4.col-lg-3
      img(src='/'+model.toLowerCase()+'.png').img-fluid
    .col-12.col-sm-8.col-lg-9.row
      div.my-auto.mx-3
        .mb-2
          .text-muted Product
          | #{data.Product}
        .mb-2
          .text-muted Firmware
          | #{data.Firmware}
        .mb-2
          .text-muted Serial No.
          | #{data.Serial}
        div
          .text-muted Time
          data.timeQ
          if data.timeQ==0
            span.badge.badge-danger Not Synced
          else
            span.badge(class={'badge-success' : data.timeQ=='X',
                              'badge-warning' : data.timeQ==2}) Synced

  .card-deck
    .card.shadow-sm
      .card-body
        h5.card-title Meter
        p.card-text Current Power: #{kw} kW
        a.btn.btn-primary(href='meter') Meter

    .card.shadow-sm
      .card-body
        h5.card-title History
        p.card-text Total Energy: #{kwh} kWh
        a.btn.btn-primary(href='history') History

    .card.shadow-sm
      .card-body
        h5.card-title Profiles
        p.card-text Active: #{box.profiles[box.profile].name}
        a.btn.btn-primary(href='profiles') Profiles
