doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block head
    include includes/scripts.pug
    block scripts
  body.pr-0
    nav.navbar.navbar-dark.bg-dark.navbar-expand-md.justify-content-between.shadow
      div
        button.navbar-toggler.mr-2(type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        a.navbar-brand(href="/") KeContact

      if page=='index'
        button.btn.btn-primary.d-block.d-md-none(data-toggle="modal" data-target="#addWallbox") #{__("navbar.New")}
      
      div#navContent.collapse.navbar-collapse
        ul.navbar-nav
          if page!='index' && page!='profiles'
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#' id="wallboxDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")=box.name
              .dropdown-menu(aria-labelledby="wallboxDropdown")
                a.dropdown-item(href="/"+data.Serial+"/info" class={'active': page === 'info'}) #{__("navbar.Info")}
                a.dropdown-item(href="/"+data.Serial+"/meter" class={'active': page === 'meter'}) #{__("navbar.Meter")}
                a.dropdown-item(href="/"+data.Serial+"/history" class={'active': page === 'history'}) #{__("navbar.History")}
          a.nav-link(href="/profiles" class={'active': page === 'profiles'}) #{__("navbar.Profiles")}
        ul.navbar-nav.ml-auto
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{__("navbar.Language")}
            .dropdown-menu(aria-labelledby="wallboxDropdown")
              a.dropdown-item(href="", data-value="de", class="js-language-change" ) Deutsch
              a.dropdown-item(href="", data-value="en", class="js-language-change" ) English
        block nav
    main.container.my-3
      block content
    block footer
    
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })

      /**
      * This is the language switcher.
      */
      $(document).ready(function () {
        $('.js-language-change').click(function () {
          var language = $(this).data('value');
          document.cookie = "language="+language;
          location.reload();
        });
      })
