extends layout.pug

block head
  title= "KeContact"

block scripts
  link(rel="stylesheet" href="/meter.css")

block content
  .row
    .col-md-6.my-2.my-md-0
      .card.shadow-sm
        h4.card-header Meters
          .float-right.badge.badge-primary=profile.name
        .card-body.text-center.d-flex.flex-column
          
          .d-flex.flex-row
            .mb-2
              h5.mb-0.text-right Power
              #powerText.display.px-2.text-light.bg-dark 000.00
            span.unit.align-self-end kW

          .d-flex.flex-row
            .mt-2
              h5.mb-0.text-right Energy
              #energyText.display.px-2.text-light.bg-dark 000.00
            span.unit.align-self-end kWh

          .d-flex.flex-row
            .mt-2
              h5.mb-0.text-right Price
              #priceText.display.px-2.text-light.bg-dark 0000.0
            span.unit.align-self-end|€

          .d-flex.flex-row
            .mt-2
                h5.mb-0.text-right Energy price
                #pricePerKwhText.display.px-2.text-light.bg-dark=parseFloat(profile.price).toFixed(2).padStart(6,'0')
            span.unit.align-self-end €/kWh

    .col-md-6.my-2.my-md-0
      .card.shadow-sm
        h4.card-header Status
        .card-body.text-center.align-middle
          #statusPic.fa-3x
            i#chgPic.fas.fa-charging-station.p-1.text-secondary(data-toggle="tooltip" title="...")

            span#cablePic.text-secondary(data-toggle="tooltip" title="...")
              i.fas.fa-long-arrow-alt-right.p-1
            span#carPic.text-secondary(data-toggle="tooltip" title="...")
              i.fas.fa-car.p-1

        .card-footer.py-2.px-3
          p.card-text.text-muted.align-middle
            i.fas.fa-info-circle.mr-2.align-middle
            small.align-middle Hover the pictures to get info
      .card.shadow-sm.my-4
        h4.card-header Actions
        .card-body
          .d-inline-block(data-toggle="tooltip" title="Equivalent to swiping a card on the wallbox")
            if(data['Enable sys']==1)
              button.btn.btn-danger#stopBtn Disable
            else
              button.btn.btn-success#startBtn Enable

block footer
  script.
    socket.emit('meter', #{data.Serial});

    socket.on('meter', function(data){
      setDisplays(data);
      setStatus(data);
    });

    socket.on('#{data.Serial}', function(data){
      setDisplays(data);
      setStatus(data);
    });

    function getPower(data)
    {
      return (Math.abs(parseInt(data['P'])/1000000)).toFixed(2);
    }

    function getEnergy(data){
      return (Math.abs(parseInt(data['E pres'])/10000)).toFixed(2);
    }

    function setDisplays(data){
      let energy = getEnergy(data);

      $("#powerText").html(getPower(data).padStart(6,'0'));
      $("#energyText").html(energy.padStart(6,'0'));
      $("#priceText").html((#{profile.price}*energy).toFixed(2).padStart(6,'0'));
      $("#pricePerKwhText").html(parseFloat(#{profile.price}).toFixed(2).padStart(6,'0'));
    }

    function setStatus(data)
    {
      let cableMsg, cableCss;
      let carMsg,   carCss;
      let chgMsg,   chgCss;
      let picCss;

      switch (data.Plug){
        case 0:
          cableMsg='Cable unplugged'
          cableCss='text-muted'
          break;
        case 1:
          cableMsg='Cable plugged'
          cableCss='text-dark'
          break;
        case 3:
        case 5:
        case 7:
          cableMsg='Cable locked'
          cableCss='text-primary'
          break;
      }

      switch (data.Plug)
      {
        case 0:
        case 1:
        case 3:
          carMsg='Vehicle unplugged'
          carCss='text-muted'
          break;
        case 5:
          carMsg='Vehicle plugged in'
          carCss='text-primary'
          break;
        case 7:
          carMsg='Vehicle plugged and locked'
          carCss='text-primary'
          break;
      }

      switch (data.State){
        case 1:
          if (data.Authreq == 1){
            chgMsg='Charger is unauthorized'
            chgCss='text-dark'
          } else {
            chgMsg='Charger is authorized'
            chgCss='text-primary'
          }
          break;
        case 2:
          chgMsg='Ready to charge'
          chgCss='text-primary'
          break;
        case 3:
          chgMsg='Charging'
          chgCss='text-success'
          picCss='blink'
          break;
        case 4:
          chgMsg='Error'
          chgCss='text-danger'
          break;
        case 5:
          chgMsg='Charging is paused'
          chgCss='text-warning'
          break;
      }

      $("#statusPic").removeClass('blink')
      $("#statusPic").addClass(picCss);

      setStatusIcon($("#chgPic"), chgMsg, chgCss)
      setStatusIcon($("#cablePic"), cableMsg, cableCss)
      setStatusIcon($("#carPic"), carMsg, carCss)
    }

    function setStatusIcon(icon, title, iconClass){
      icon.attr('title', title);
      icon.attr('data-original-title', title);
      icon.removeClass('text-primary');
      icon.removeClass('text-secondary');
      icon.removeClass('text-success');
      icon.removeClass('text-warning');
      icon.removeClass('text-danger');
      icon.removeClass('text-dark');
      icon.addClass(iconClass);
    }

    $("#startBtn").click(function(){
      $.ajax({
        url: '/api/wallboxes/#{data.Serial}/enable',
        type: 'PUT',
        data: { token: '#{auth}' }
      }).then(()=>{
        console.log("Start command sent");
      }).catch(err =>{
        console.error(err);
      });
    });

    $("#stopBtn").click(function(){
      $.ajax({
        url: '/api/wallboxes/#{data.Serial}/enable',
        type: 'DELETE',
        data: { token: '#{auth}' }
      }).then(()=>{
        console.log("Stop command sent");
      }).catch(err =>{
        console.error(err);
      });
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })       

