extends layout.pug

block head
  - var kwh=(Math.abs(parseInt(data['E pres'])/10000)).toFixed(2)
  - var auth="bbbf74bd00000000"
  title= "KeContact"

block scripts
  link(rel="stylesheet" href="/meter.css")

block nav
  form.form-inline.my-2.my-lg-0
    div.form-group.row
      label.navbar-text.pr-1(for='authIn')|Auth
      input#authIn.form-control.mr-sm-2(type="text" placeholder="Auth" aria-label="Auth" value=auth)

block content
  div.d-flex.justify-content-between.align-items-center
    h1|Wallbox meter
    if(data['Enable sys']==1)
      button.btn.btn-danger#stopBtn|Stop
    else
      button.btn.btn-success#startBtn|Start

  div.card-deck
    div.card
      h4.card-header| Meters
      div.card-body.text-center.d-flex.flex-column
        div.d-flex.flex-row
          div
            h5.mb-0.text-right| Price
            div.display.px-2.text-light.bg-dark| #{(kwh*price).toFixed(2).padStart(6,'0')}
          span.unit.align-self-end|€
        div.d-flex.flex-row
          div
            h5.mb-0.mt-2.text-right| Energy
            div.display.px-2.text-light.bg-dark| #{kwh.padStart(6,'0')}
          span.unit.align-self-end| kWh

        div.d-flex.flex-row
          div
            h5.mb-0.mt-2.text-right| Price per kWh
            div.display.px-2.text-light.bg-dark| #{parseFloat(price).toFixed(2).padStart(6,'0')}
          span.unit.align-self-end| €/kWh

    div.card
      h4.card-header| Status
      div.card-body.text-center.align-middle
        div.fa-3x
          - var msg
          - var state
          case data.State
            when 1
              if data['Enable sys']==1
                - state=1
                - msg='Wallbox is enabled'
              else
                - state=0
                - msg='Wallbox is disabled'
            when 2
            when 3
              - state=2
              - msg='Wallbox is charging'
            default
              state=5
              msg='Charging unauthorized or error'

          i.fas.fa-charging-station.p-1(data-toggle="tooltip" title=msg class={'text-primary': state==1,
                                                                               ''            : state==0,
                                                                               'text-success': state==2,
                                                                               'text-danger' : state==5})

          span(data-toggle="tooltip" title="Car unplugged" class={'text-muted':data.Plug<5})
            i.fas.fa-long-arrow-alt-right.p-1
            i.fas.fa-car.p-1
            i.fas.fa-long-arrow-alt-right.p-1
            i.fas.fa-car-battery.p-1

      div.card-footer.py-2.px-3
        p.card-text.text-muted.align-middle
          i.fas.fa-info-circle.mr-2.align-middle
          small.align-middle| Hover the pictures to get info

block footer
  script.
      $("#startBtn").click(function(){
        $.get("/#{data.Serial}/start/#{auth}", (data) => {console.log("Start command sent")});
      });

      $("#stopBtn").click(function(){
        $.get("/#{data.Serial}/stop/#{auth}", (data) => {console.log("Stop command sent")});
      });         

