extends layout.pug

block head
  - var kwh=(Math.abs(parseInt(data['E pres'])/10000)).toFixed(2)
  - var auth="bbbf74bd00000000"
  title= "KeContact"

block scripts
  link(rel="stylesheet" href="/meter.css")

block nav
  form.form-inline.mt-2.mt-sm-0
    .d-flex.justify-content-start.w-100
      label.navbar-text.pr-2(for='authIn') Auth
      input#authIn.form-control.mr-sm-2(type="text" placeholder="Auth" aria-label="Auth" value=auth)

block content
  .d-flex.justify-content-between.align-items-center
    h1|#{box.name} meter
    if(data['Enable sys']==1)
      button.btn.btn-danger#stopBtn Stop
    else
      button.btn.btn-success#startBtn Start

  .row
    .col-md-6.my-2.my-md-0
      .card
        h4.card-header Meters
        .card-body.text-center.d-flex.flex-column
          .d-flex.flex-row
            div
              h5.mb-0.text-right Price
              .display.px-2.text-light.bg-dark| #{(kwh*price).toFixed(2).padStart(6,'0')}
            span.unit.align-self-end|€
          .d-flex.flex-row
            div
              h5.mb-0.mt-2.text-right Energy
              .display.px-2.text-light.bg-dark| #{kwh.padStart(6,'0')}
            span.unit.align-self-end kWh

          .d-flex.flex-row
            div
              h5.mb-0.mt-2.text-right Price per kWh
              .display.px-2.text-light.bg-dark| #{parseFloat(price).toFixed(2).padStart(6,'0')}
            span.unit.align-self-end €/kWh

    .col-md-6.my-2.my-md-0
      .card
        h4.card-header Status
        .card-body.text-center.align-middle
          .fa-3x
            - var boxMsg
            - var boxCss

            - var carMsg
            - var carCss
            case data.State
              when 1
                if data['Enable sys']==1
                  - boxMsg='Wallbox is enabled'
                  - boxCss='text-primary'
                else
                  - boxMsg='Wallbox is disabled'
                  - boxCss='text-muted'
              when 2
              when 3
                - boxMsg='Wallbox is charging'
                - boxCss='text-success'
              default
                - boxMsg='Charging unauthorized or error'
                - boxCss='text-danger'

            case data.Plug
              when 5
                - carMsg='Cable plugged'
                - carCss='text-warning'
              when 7
                - carMsg='Cable locked'
                - carCss='text-success'
              default
                - carMsg='Cable unplugged'
                - carCss='text-muted'

            i.fas.fa-charging-station.p-1(data-toggle="tooltip" title=boxMsg class=boxCss)

            span(data-toggle="tooltip" title=carMsg class=carCss class={'blink': data.State == 3})
              i.fas.fa-long-arrow-alt-right.p-1
              i.fas.fa-car.p-1

        .card-footer.py-2.px-3
          p.card-text.text-muted.align-middle
            i.fas.fa-info-circle.mr-2.align-middle
            small.align-middle Hover the pictures to get info

block footer
  script.
    $("#startBtn").click(function(){
      $.ajax({
        url: '/api/wallboxes/#{data.Serial}/enable',
        type: 'PUT',
        data: { token: '#{auth}' }
      }).then(()=>{
        console.log("Start command sent");
      }).catch(err =>{
        console.error(err);
      });
    });

    $("#stopBtn").click(function(){
      $.ajax({
        url: '/api/wallboxes/#{data.Serial}/enable',
        type: 'DELETE',
        data: { token: '#{auth}' }
      }).then(()=>{
        console.log("Stop command sent");
      }).catch(err =>{
        console.error(err);
      });
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })       

