extends layout.pug

block head
  - var kwh=(Math.abs(parseInt(data['E pres'])/10000)).toFixed(2)
  - var kw=(Math.abs(parseInt(data['P'])/1000000)).toFixed(2)
  - var auth=box.profiles[box.profile].auth
  title= "KeContact"

block scripts
  link(rel="stylesheet" href="/meter.css")

block nav
  .ml-auto
    include includes/priceInput.pug
  .mx-md-2
    include includes/profileSelection.pug

block content
  .row
    .col-md-6.my-2.my-md-0
      .card.shadow-sm
        h4.card-header Meters
        .card-body.text-center.d-flex.flex-column
          
          .d-flex.flex-row
            div.mb-2
              h5.mb-0.text-right Power
              .display.px-2.text-light.bg-dark| #{kw.padStart(6,'0')}
            span.unit.align-self-end kW

          .d-flex.flex-row
            div
              h5.mb-0.text-right Energy
              .display.px-2.text-light.bg-dark| #{kwh.padStart(6,'0')}
            span.unit.align-self-end kWh

          .d-flex.flex-row
            div.mt-2
              h5.mb-0.text-right Price
              .display.px-2.text-light.bg-dark| #{(kwh*price).toFixed(2).padStart(6,'0')}
            span.unit.align-self-end|€

          .d-flex.flex-row
            div.mt-2
              h5.mb-0.text-right Price per kWh
              .display.px-2.text-light.bg-dark| #{parseFloat(price).toFixed(2).padStart(6,'0')}
            span.unit.align-self-end €/kWh

    .col-md-6.my-2.my-md-0
      .card.shadow-sm
        h4.card-header Status
        .card-body.text-center.align-middle
          
          - var boxMsg='...'
          - var boxCss

          - var cableMsg='...'
          - var cableCss

          - var carMsg='...'
          - var carCss

          case data.Plug
            when 0
              - cableMsg='Cable unplugged'
              - cableCss='text-muted'
            when 1
              - cableMsg='Cable plugged'
              - cableCss='text-dark'
            when 3
            when 5
            when 7
              - cableMsg='Cable locked'
              - cableCss='text-primary'
          case data.Plug
            when 0
            when 1
            when 3
              - carMsg='Vehicle unplugged'
              - carCss='text-muted'
            when 5
              - carMsg='Vehicle plugged in'
              - carCss='text-primary'
            when 7
              - carMsg='Vehicle plugged and locked'
              - carCss='text-primary'


          case data.State
            when 1
              if data.Authreq == 1
                - boxMsg='Charger is unauthorized'
                - boxCss='text-dark'
              else
                - boxMsg='Charger is authorized'
                - boxCss='text-primary'
            when 2
              - boxMsg='Ready to charge'
              - boxCss='text-primary'
            when 3
              - boxMsg='Charging'
              - boxCss='text-success'
              - picCss='blink'
            when 4
              - boxMsg='Error'
              - boxCss='text-danger'
            when 5
              - boxMsg='Charging is paused'
              - boxCss='text-warning'

          .fa-3x(class=picCss)
            i.fas.fa-charging-station.p-1(data-toggle="tooltip" title=boxMsg class=boxCss)

            span(data-toggle="tooltip" title=cableMsg class=cableCss)
              i.fas.fa-long-arrow-alt-right.p-1
            span(data-toggle="tooltip" title=carMsg class=carCss)
              i.fas.fa-car.p-1

        .card-footer.py-2.px-3
          p.card-text.text-muted.align-middle
            i.fas.fa-info-circle.mr-2.align-middle
            small.align-middle Hover the pictures to get info
      .card.shadow-sm.my-4
        h4.card-header Actions
        .card-body
          .d-inline-block(data-toggle="tooltip" title="Equivalent to swiping a card on the wallbox")
            if(data['Enable sys']==1)
              button.btn.btn-danger#stopBtn Disable
            else
              button.btn.btn-success#startBtn Enable

block footer
  script.
    $("#startBtn").click(function(){
      $.ajax({
        url: '/api/wallboxes/#{data.Serial}/enable',
        type: 'PUT',
        data: { token: '#{auth}' }
      }).then(()=>{
        console.log("Start command sent");
      }).catch(err =>{
        console.error(err);
      });
    });

    $("#stopBtn").click(function(){
      $.ajax({
        url: '/api/wallboxes/#{data.Serial}/enable',
        type: 'DELETE',
        data: { token: '#{auth}' }
      }).then(()=>{
        console.log("Stop command sent");
      }).catch(err =>{
        console.error(err);
      });
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })       

