extends layout.pug

block head
  title= "KeContact"

block scripts
  link(rel="stylesheet" href="/meter.css")
    
block content
  .row
    .col-md-4.mb-3
      .d-flex.justify-content-between.align-items-center
        div
          h3 #{__("profiles.title")}
        .mb-2
          button.btn.btn-primary.btn-sm(onclick='newProfile()') #{__("profiles.New")}
      #profileList.list-group.shadow-sm
        each profile,i in profiles
          a.list-group-item.list-group-item-action(href="#"+i data-toggle="list" onclick='profile('+i+')')
            .d-flex.justify-content-between.align-items-center
              div
                h5.mb-1=profile.name
                  small.text-monospace=' '+parseFloat(profile.price).toFixed(2)+' €/kWh'
                small.text-monospace=profile.auth
              //if i==box.profile
                h4.m-0
                  i.far.fa-check-circle(data-toggle="tooltip" title="Active")
    .col-md-8.mb-3
      h3 #{__("profiles.details")}
      form(onsubmit='return false')
        .form-group
          label(for="nameInput") #{__("profiles.name")}
          input#nameInput.form-control(name="name" type="text" placeholder="Name")
        .form-group
          label(for="authInput") #{__("profiles.auth")}
          input#authInput.form-control(name="auth" type="text" placeholder="Auth")
        .form-group
          label(for="priceInput") #{__("profiles.energy_price")} [€/kWh]
          input#priceInput.form-control(name="auth" type="number" step='0.01' placeholder="Price")
        .float-right
          button#deleteProfile.btn.btn-outline-danger.mr-1(type='button') #{__("profiles.delete")}
          button#submitProfile.btn.btn-primary.ml-1(type='submit') #{__("profiles.save")}

block footer
  script.
    var profileId=-1;

    var deleteProfile=$('#deleteProfile');
    var nameInput= $('#nameInput');
    var authInput=$('#authInput');
    var priceInput=$('#priceInput');

    deleteProfile.hide();

    var newProfile=function(){
      profileId=-1;

      deleteProfile.hide();
      nameInput.val('');
      authInput.val('');
      priceInput.val('');

      $('#profileList .active').removeClass("active");
    }

    var profile=function(id) {
      profileId=id;

      var profiles=!{JSON.stringify(profiles)}
      var name=profiles[id].name;
      var auth=profiles[id].auth;
      var price=profiles[id].price;

      if (profiles.length > 1)
        deleteProfile.show();

      nameInput.val(name);
      authInput.val(auth);
      priceInput.val(parseFloat(price).toFixed(2));
    }

    $('#deleteProfile').click(function(){
      $.ajax({
        url:'/api/profiles/' + profileId,
        type:'DELETE',
        data:{
          id: profileId
          }
        }).then(function(){
          location.reload();
        }).catch(function(e){
          alert(e);
        });
    })

    $('#submitProfile').click(function(){
      if(profileId==-1)
      {
        //New profile
        $.post('/api/profiles',{
          name: nameInput.val(),
          auth: authInput.val(),
          price: priceInput.val()
        }).then(function(){
          location.reload();
        }).catch(function(e){
          alert(e);
        })
      } else {
        // Edit existing
        console.log(profileId);
        $.ajax({
          url:'/api/profiles/' + profileId,
          type:'PUT',
          data:{
            name: nameInput.val(),
            auth: authInput.val(),
            price: priceInput.val()
          }
        })
        .then(()=>{
          location.reload();
        }).catch((e)=>{
          alert(e)
        })
      }
    });
